@mixin flexbox-container($direction, $w, $h, $wrap, $justify-content, $align-items, $align-content) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
  width: $w;
  height: $h;
}

@mixin flexbox($align-self, $direction, $w, $h, $wrap, $justify-content, $align-items, $align-content) {
  align-self: $align-self;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
  width: $w;
  height: $h;
}
