body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: grey;
  background-color: $background; 
}

.testdiv {
  @include flexbox-container(row, 100%, auto, wrap, space-between, center, center);
  background-color: aqua;
}

p {
  font-weight: 300;
  font-style: italic;
}

